.header {
  padding-top: 30px;
  display: flex
}

h2 {
  color: #4CAF50;
  font-size: 25px;
  margin-left: 2%;
}

mat-list {
  margin-left: 10px;
}

mat-list-item {
  display: flex;
  margin: 10px
}

.name {
  color: #4CAF50;
  margin-top: 10px;
  font-style: italic;
}

a {
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  border-radius: 6px;
}

.button-details {
  padding: 4px 4px;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  color: #fff;
  background-color: #4caf50;
  border-radius: 6px;
}

.button-shopping-cart {
  width: 70px;
  height: 50px;
  margin-left: auto;
  background-color: white;
  border: 2px solid #4caf50;
  border-radius: 7px
}

.button-details:hover, button-shopping-cart:active {
  background-color: #ccffcc;
}

.button-shopping-cart:hover, button-shopping-cart:active {
  background-color: #ccffcc;
}

.shopping-cart {
  font-size: 40px;
  color: #4caf50;
  margin: 3px 0 0 15px
}

.button-add {
  color: #4caf50;
  margin-left: 5px;
}

.button-add:hover {
  color: green
}
