.header {
  padding-top: 30px
}

h2 {
  color: #4CAF50;
  font-size: 25px;
  margin-left: 2%;
}

mat-list {
  margin-left: 10px
}

mat-divider {
  color: solid #4CAF50;
}

.name {
  color: #4CAF50;
  margin-top: 10px;
  font-style: italic;
  margin-left: auto;
}
