<div class="header">
  <button class="button-back" (click)="goBack()">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <h2>Shopping Cart</h2>
</div>

<mat-list>
  <mat-list-item *ngFor="let product of products">
    <p class="name" mat-line>{{ product.name }}</p>
    <a class="button" routerLink="/detail/{{product.id}}">details</a>
    <mat-divider></mat-divider>
  </mat-list-item>
  <button class="button-checkout" (click)="placeOrder()">
    <p class="place-order">Checkout</p>
  </button>
</mat-list>


